Repository mattermost/mattermost-mobile, pull requests merged in 2025-10, with the labels that each got.

#9119 Add Floating Label Autocomplete Selector
  app/components/autocomplete/at_mention/at_mention.tsx
  app/components/autocomplete/channel_mention/channel_mention.tsx
  app/components/autocomplete/emoji_suggestion/emoji_suggestion.tsx
  app/components/autocomplete/slash_suggestion/app_slash_suggestion/app_slash_suggestion.tsx
  app/components/autocomplete/slash_suggestion/slash_suggestion.tsx
  app/components/floating_input/floating_autocomplete_selector/floating_autocomplete_selector.tsx
  app/components/floating_input/floating_autocomplete_selector/index.ts
  app/components/floating_input/floating_input_container.tsx
  app/components/floating_input/floating_text_chips_input.tsx
  app/components/floating_input/floating_text_input_label.tsx
  app/components/floating_input/utils.test.ts
  app/components/floating_input/utils.ts
  app/components/floating_text_chips_input/index.tsx
  app/components/floating_text_chips_input/utils.ts
  app/components/floating_text_input_label/index.tsx
  app/components/server_user_list/index.tsx
  app/hooks/field_refs.ts
  app/hooks/utils.ts
  app/products/playbooks/screens/edit_command/edit_command.test.tsx
  app/products/playbooks/screens/edit_command/edit_command_form.test.tsx
  app/products/playbooks/screens/edit_command/edit_command_form.tsx
  app/screens/channel/channel_post_list/channel_post_list.tsx
  app/screens/channel_bookmark/components/bookmark_link.tsx
  app/screens/convert_gm_to_channel/channel_name_input.tsx
  app/screens/convert_gm_to_channel/team_selector_list/index.tsx
  app/screens/create_or_edit_channel/channel_info_form.tsx
  app/screens/edit_profile/components/email_field.tsx
  app/screens/edit_profile/components/field.tsx
  app/screens/edit_server/form.tsx
  app/screens/emoji_picker/picker/picker.tsx
  app/screens/find_channels/filtered_list/filtered_list.tsx
  app/screens/forgot_password/index.tsx
  app/screens/integration_selector/integration_selector.tsx
  app/screens/login/form.tsx
  app/screens/mfa/index.tsx
  app/screens/server/form.tsx
  app/screens/settings/notification_auto_responder/notification_auto_responder.tsx
  app/screens/settings/notification_mention/mention_settings.tsx
  app/screens/thread/thread_post_list/thread_post_list.tsx
  share_extension/components/content_view/message/index.tsx
Labels: 4: Reviews Complete, Build Apps for PR, QA Review Done, release-note

#9181 Fix error on notification reply on iOS
  ios/Mattermost/Extensions/RNNotificationEventHandler+HandleReplyAction.m
Labels: 4: Reviews Complete, CherryPick/Approved, Build Apps for PR, QA Review Done, release-note-none

#9185 Automated cherry pick of #9181
  ios/Mattermost/Extensions/RNNotificationEventHandler+HandleReplyAction.m
Labels: AutomatedCherryPick, Changelog/Not Needed, Docs/Not Needed, release-note-none

#9183 Fix selected users not showing in add member screen
  app/components/selected_users/index.tsx
  app/screens/channel_add_members/channel_add_members.tsx
  app/screens/create_direct_message/create_direct_message.tsx
Labels: 4: Reviews Complete, CherryPick/Approved, Build Apps for PR, QA Review Done, release-note-none
